ENV=development
SERVER_PORT=8000
DB_CONN=postgresql://postgres:postgres@db:5432/choto_db?sslmode=disable
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=choto_db
REDIS_ADDR=redis://localhost:6379/0
SECRET_KEY=example
BASE_URL=http://localhost:8000
RATE_LIMIT_COUNT=10
OLD_LINKS_CLEANUP_INTERVAL_IN_HOURS=1